# 0. Imports

In [15]:
import pandas as pd
import psycopg2 as pg
import sqlalchemy as db

# import pandas.io.sql as psql

# 1. Data Acquisition

In [16]:
# credentials
host = 'comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazonaws.com'
port = 5432
database = 'comunidadedsdb'
username = 'member'
pwd = 'cdspa'

# 1.1. Schema Query

In [17]:
conn = pg.connect(user = username,
                  password = pwd,
                  host = host,
                  port = port,
                  database = database)

In [18]:
cursor = conn.cursor()

query_schema = """
    SELECT nspname
    FROM pg_catalog.pg_namespace
"""

cursor.execute(query_schema)

record = cursor.fetchall()

print(record)

cursor.close()
conn.close()

[('pg_toast',), ('pg_temp_1',), ('pg_toast_temp_1',), ('pg_catalog',), ('information_schema',), ('public',), ('pa004',), ('pg_temp_4',), ('pg_toast_temp_4',), ('pa005',), ('pg_temp_9',), ('pg_toast_temp_9',)]

# 1.2. Table Query

In [19]:
conn = pg.connect(user = username,
                  password = pwd,
                  host = host,
                  port = port,
                  database = database)

In [20]:
cursor = conn.cursor()

query_tables = """
    SELECT tablename
    FROM pg_tables
    WHERE schemaname='pa004'
"""

cursor.execute(query_tables)

record = cursor.fetchall()

print(record)

cursor.close()
conn.close()

[('users',), ('vehicle',), ('insurance',)]

# 1.3. Collect Data Using Psycopg2

In [21]:
# conn = pg.connect(user = username,
#                   password = pwd,
#                   host = host,
#                   port = port,
#                   database = database)

In [22]:
# cursor = conn.cursor()
# 
# query_tables_users = """
#     SELECT *
#     FROM pa004.users u
#     WHERE u.age > 44
#     LIMIT 10
# """
# 
# cursor.execute(query_tables)
# 
# record = cursor.fetchall()
# 
# print(record)
# 
# cursor.close()
# conn.close()

# 1.4. Collect Data Using Pandas

In [23]:
# conn = pg.connect(user = username,
#                   password = pwd,
#                   host = host,
#                   port = port,
#                   database = database)

In [24]:
# query_tables_users = """
#     SELECT *
#     FROM pa004.users u
#     LIMIT 10
# """
# 
# df = psql.read_sql(query_tables_users, conn)
# df.head()
# 
# cursor.close()
# conn.close()

In [25]:
conn = pg.connect(user = username,
                  password = pwd,
                  host = host,
                  port = port,
                  database = database)

In [32]:
query_tables_users = """
    SELECT *
    FROM pa004.users u LEFT JOIN pa004.vehicle v ON (u.id = v.id)
                       LEFT JOIN pa004.insurance i ON (u.id = i.id)
"""

string_connect = 'postgresql://' + username + ':' + pwd + '@' + host + ':' + str(port) + '/' + database
engine = db.create_engine(string_connect)
conn_alchemy = engine.connect()
df1 = pd.read_sql(query_tables_users, conn_alchemy)
df1 = df1.drop(df1.columns[[5, 9]], axis=1)
df1.head()

,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,previously_insured,annual_premium,vintage,response
0,Male,23,11.0,152.0,1,< 1 Year,Yes,0,23367.0,249,0
1,Female,41,15.0,14.0,1,1-2 Year,No,1,31409.0,221,0
2,Female,25,35.0,152.0,1,< 1 Year,No,1,46622.0,299,0
3,Female,26,8.0,160.0,1,< 1 Year,No,0,2630.0,136,0
4,Male,45,8.0,124.0,1,1-2 Year,Yes,0,42297.0,264,0

In [33]:
df1.shape

(381109, 11)